#### general settings
name: bsrnn_minx_test
device: cuda
gpuid: [0,1,2,3,4,5,6,7]  #[!] GPUs used for Test

#### model settings
model:
  name: BSRNN
  config: speech-preprocess/save/x64s_8w/trainstat/config.yml
  checkpoint: speech-preprocess/save/x64s_8w/checkpoint/best_model.pt

#### test settings
test:
  num_threads: 8 #[!] Number of threads used
  data_path: speech-preprocess/data/Difficult1k  #[!] Fill the path to data directory
  save_path: speech-preprocess/data/Difficult1k_result  #[!] path to save estimated wav files
  no_criterion: false # Toggle this option if no GT offered
  measure_dataset_only: false # Only measure the metrics of raw dataset

